* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  align-items: center;
  display: flex;
  padding: 2% 20px;
  flex-direction: column;
}
.show-menu {
  right: 0;
}

.sub-lay {
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-align: center;
  color: #000;
}

#caption {
  color: #000;
  font-size: 20px;
  font-style: normal;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 140%;
  padding-top: 20px;
}
#image-lay {
  width: 100%;

  object-fit: contain;
  padding-top: 30px;
}
.bottom-layout-one {
  font-size: 16px;
  font-weight: 600;
  line-height: 170%;
  font-style: normal;
  padding-top: 30px;
}
.rule-two {
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
}

.line {
  width: 200px;
  height: 2px;
  position: relative;
  top: 7px;
  background-color: #131314d5;
}

.title {
  font-size: 18px;
  font-style: normal;
  line-height: 170%;
  font-weight: 600;
}

.text-33 {
  display: flex;
  flex-direction: column;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding-top: 10px;
  color: #9c9c9c;
}
.bottom-abb-cont {
  padding-top: 20px;
  gap: 20px;
  display: grid;
}
.top-images {
  display: flex;
  gap: 10px;
}
.btm-images {
  display: flex;
  gap: 10px;
}

.image-abb-2 {
  width: 80px;
}
.bottom-abb-cont-2 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
  line-height: 170%;
  font-style: normal;
  padding-top: 30px;
}
#word-abb-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #9c9c9c;
  padding-top: 25px;
}
.last-abb-cont {
  padding-top: 40px;

  background: #fff;
  display: flex;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

.last-img {
  width: 50px;
  height: 50px;
  position: relative;

  background: #fff;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}
.last-img > img {
  width: 50px;
  fill: #d9d9d9;
  color: #d9d9d9;
}
.last-text {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  padding-top: 20px;
}
#text-btm-abb {
  padding-top: 20px;

  color: #9c9c9c;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

/* TABLET SCREEN  */

@media (min-width: 768px) {
  #caption {
    font-size: 35px;
    width: 270px;
  }

  .layout-one {
    width: 700px;
  }
  .sub-lay {
    width: 700px;
    align-items: center;
  }
  .text-33 {
    display: flex;
    flex-direction: column;

    width: 500px;
    font-size: 24px;
  }
  .bottom-layout-one {
    width: 700px;
  }
  .bottom-abb-cont {
    padding-top: 40px;
    gap: 20px;
    display: grid;

    width: 600px;
  }
  .btm-images {
    display: flex;
    gap: 10px;
  }
  .title {
    font-size: 36px;
  }
  .image-abb-2 {
    width: 170px;
  }
  .svc-word {
    width: 500px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  .line {
    width: 400px;
  }

  #word-s {
    font-size: 26px;
    font-weight: 600;
    color: #000;
    line-height: 170%;
  }
  .bottom-abb-cont {
    width: 700px;
  }
  .bottom-abb-cont-2 {
    width: 700px;
    font-size: 36px;
  }
  #word-abb-2 {
    font-size: 24px;
    width: 500px;
    display: flex;
    flex-direction: column;
  }
  .last-abb-cont {
    text-align: center;
  }
  #text-btm-abb {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  .last-img {
    left: 5rem;
    position: relative;
  }
}

/* DESKTOP SCREEN */

@media (min-width: 1110px) {
  .layout-one {
    width: 1200px;
  }
  .sub-lay {
    width: 1200px;
    align-items: center;
  }

  .svc-word {
    width: 582px;
  }
  .line {
    width: 464px;
  }
  .bottom-layout-one {
    width: 1200px;
  }

  .bottom-abb-cont {
    width: 1200px;
    display: grid;
  }
  .image-abb-2 {
    width: 282px;
  }
  #word-s {
    display: flex;
    width: 609px;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%;
  }

  #image-abb-2 {
    width: 80vw;
    height: 525px;
  }

  .image-sub {
    width: 192px;

    height: 525px;
    background: #2c3878;
  }
  #caption {
    font-size: 36px;
    width: 176px;
  }

  .bottom-abb-cont-2 {
    width: 1200px;
    font-size: 36px;
  }

  #word-abb-2 {
    display: flex;
    flex-direction: column;
    font-size: 24px;

    width: 500px;
    padding-bottom: 40px;
  }
  .last-img {
    left: 6.8rem;
    position: relative;
  }

  .last-abb-cont {
    width: 1200px;
    justify-content: space-between;
    text-align: center;
  }
  .first-btm-abb {
    width: 280px;
    height: 291px;
    align-items: center;
  }
}
